# Data Types

Python has 5 data types: strings,numbers,list,tuples and dictionaries

### Numbers

Numbers of type int()- this are whole numbers.

Numbers of type float()-numbers with decimal values

In [1]:
8

8

In [2]:
9/2

4.5

In [3]:
type(8)

int

In [4]:
type(9/2)

float

## Strings

Strings are set of characters represented in quotation marks

In [5]:
"joseph"

'joseph'

In [6]:
type("joseph")

str

In [7]:
"who are you"

'who are you'

## Lists

A list contains items separated by commas and enclosed in square brackets([])

In [8]:
list = ["name", 5,4.5, "data"]

In [9]:
list

['name', 5, 4.5, 'data']

In [10]:
list2 = ["joseph", 9]

In [11]:
list2

['joseph', 9]

In [12]:
shopping = ["salt","sugar", 900]

In [13]:
shopping

['salt', 'sugar', 900]

## Tuples

tuples are like list but they are enclosed using parenthesis ()

In [14]:
tuple = ("name", 5,4.5, "data")

In [15]:
tuple

('name', 5, 4.5, 'data')

In [16]:
shopping * 2

['salt', 'sugar', 900, 'salt', 'sugar', 900]

## Dictionaries

This is a data structure in which each particular value is associated with a particular key. dictionaries are enclosed using this symbols {}

In [17]:
dict = {"name":"joseph", "age":14, "city":"Nairobi" }

In [18]:
dict

{'name': 'joseph', 'age': 14, 'city': 'Nairobi'}

If you want to access a specific value in a dictionary you have to indicate the name of the associated key

In [19]:
dict["name"]

'joseph'

In [23]:
dict["age"]

14

In [21]:
dict["city"]

'Nairobi'

# Variables

A variables allows you to store a value by assigning to it a name

In [24]:
name = "joseph"

In [25]:
age = 15

In [26]:
city = "Naiobi"

In [27]:
print(name)

joseph

In [28]:
print(age)

15

In [29]:
print(city)

Naiobi

Character used in creating variables are numbers, underscore and letters. also variables cannot start with numbers

In [30]:
8name = "joseph"

SyntaxError: invalid syntax (<ipython-input-30-d5582ed50ae8>, line 1)

In [31]:
name8 = "joseph"

In [32]:
name_ = "joseph"

In [33]:
_name = "joseph"

In [34]:
print(name8, name_, _name)

joseph joseph joseph

## Arithmetic operations

In [36]:
#addition 
9+9

18

In [37]:
#substraction
9-3

6

In [39]:
#multplication
5*5

25

In [42]:
#True division
6/4

1.5

In [43]:
#Floor division 
6//4

1

In [44]:
#modulus 
6%4

2

In [45]:
#exponentation
2**3

8

In [46]:
#negation
-5

-5